extends ./partials/header.jade

block title
title Welcome to Jade Email Builder

block content
	tr
		td
			table.p1.bg--white.border
				tr
					td.padding
						h1.fw--reg Jade Email Builder 
						p Build 100% responsive and email-client compatible HTML emails hella fast! Using Jade and Automatically Inlined CSS.
						<hr />
						h5.caps Why Jade? 
						p Jade helps with cleaning up hard to maintain HTML Table Layouts. Add's support for partials and constants to store commonly changed things like URLs, Analytics Tracking Codes, and support emails!
						<hr />
						h5.caps Why Inline CSS? 
						p For HTML email, inline-css isn't trendy, its a best practice to ensure your emails render properly. Working with inline-css from the start speeds up testing.
						<hr />
				tr
					td
						h5.caps # Default Styles
						h1  heading 1
						h2  heading 2
						h3  heading	3
						h4  heading	4
						h5  heading	5
						h6  heading	6
						p  body
						p <small> body small
						<hr />
				include ./partials/signature.jade