extends ./partials/header.jade

block title
title Welcome to Jade Email Builder

block content
	tr
		td
			table.p1.bg--white.border
				tr
					td.padding
						h1.fw--reg.text--brand Jade Email Builder 
						p Build HTML Emails hella fast with Jade and Automatically Inlined CSS styles!
						<hr />
				tr
					td
						h5.caps # Default Styles
						h1  heading 1
						h2  heading 2
						h3  heading	3
						h4  heading	4
						h5  heading	5
						h6  heading	6
						p  body
						p <small> body small
						<hr />
				tr
					td
						include ./partials/signature.jade